@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(179, 179, 179);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    font-variant: small-caps;
    padding-top: 50px;
}

header p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.img{
    background-color: grey;
    color: white;
}

section.img > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 5px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}
