body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table{
    width: 700px;
    border-collapse: collapse;
}

caption{
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(2n){
    background-color: rgb(199, 197, 197);
}

.container{
    overflow-x: auto; /* Configuração para criar rolagem apenas na tabela */
}